/*stylesheet*/

body {
    font-family: 'Gill Sans';
    background-color: black;
    color: white;
}

@keyframes TitleColors {
    0%, 100%, {color: red;}
    16.5% {color: orange;}
    33% {color: yellow;}
    49.5% {color: green;}
    66% {color: blue;}
    82.5% {color: purple;}
}

#Title {
    font-size: 15vh;
    position: relative;
    width: calc(100% - 4vh);
    text-align: center;
    top: 1vh;
    left: 2vh;
    color: red;
    animation: TitleColors 4s infinite linear;
}

p {
    position: relative;
    top: 1vh;
    left: 2vh;
    width: calc(100% - 4vh);
    font-size: 4vh;
}