@charset "UTF-8";
/* CSS Document */

:root {
    --black: rgba(19, 27, 27, 1);
    --white: rgba(255, 240, 227, 1);
}

body {
    font-family: "Teko";
    background-color: var(--black);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#Header {
    position:absolute;
    height: 12.5vh;
    width: 40vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0 0 2vh 2vh;
    outline: 0.5vh solid rgba(255, 240, 227, 0.4);
    box-shadow: 0 0 8vh 0vh rgba(255, 240, 227, 0.6) inset;
    color: var(--white);
    transition: box-shadow .15s linear, outline 0.15s linear;
}

#Header:hover {
    outline: 0.5vh solid rgba(255, 240, 227, 0.6);
    box-shadow: 0 0 10vh 0vh rgba(255, 240, 227, 0.8) inset;
}

#Header:active {
    outline: 0.5vh solid rgba(255, 240, 227, 0.8);
    box-shadow: 0 0 12vh 0vh rgba(255, 240, 227, 1) inset;
}

#Title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -40%);
    text-align: center;
    font-size: 8vh;
    line-height: 4vh;
    filter: drop-shadow(0 0 0.5vh rgba(255, 240, 227, 0.5));
    font-weight: 800;
}

#Subtitle {
    font-size: 4vh;
    line-height: 0;
    font-weight: 500;
}

#Footer {
    position: absolute;
    height: 7.5vh;
    width: 70vw;
    bottom:0;
    outline: 0.5vh solid rgba(255, 240, 227, 0.4);
    left: 15vw;
    border-radius: 2vh 2vh 0 0;
    box-shadow: 0 0 8vh 0vh rgba(255, 240, 227, 0.6) inset;
}

#Main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0vh;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity 0.15s linear;
}

#EntryGrid {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10vh;
    grid-column-gap: 2.5vh;
    padding: 17.5vh 0 17.5vh 0;
}

.Entries {
    position: relative;
    height: 35vh;
    width: 35vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5vh;
    opacity: 0.75;
    transition: opacity 0.15s ease-out, background-color 0.15s ease-out;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

.Entries:hover {
    opacity: 1;
}

.Entries:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.EntryTitles {
    position: relative;
    display: block;
    top: 2vh;
    width: 100%;
    font-size: 5vh;
    text-align: center;
    line-height: 85%;
}

.EntryImages {
    position: relative;
    top: 14vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 22.5vh;
    max-width: calc(100% - 4vh);
    border-radius: 2vh;
}

#EntryPageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 0.15s linear;
    pointer-events: none;
}

#EntryPage {
    position: absolute;
    padding: 17.5vh 0 17.5vh 0;
    width: 100%;
    min-height: 65vh;
    top: 0;
    left: 0;
    color: var(--white);
}

#EntryBannerWrapper {
    position: absolute;
    top: 15vh;
    left: 2.5%;
    width: 95%;
    height: 40vh;
    background-color: rgba(255,255,255, 0.25);
    border-radius: 5vh;
    overflow: hidden;
}

#EntryPageTitle {
    position: absolute;
    top: 50%;
    left: 25%;
    width: calc(50% - 10vh);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 8.5vh;
    font-weight: 500;
    line-height: 100%;
}

#EntryPageImage {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%, -50%);
    max-width: 45%;
    max-height: 90%;
}

#EntryPageDescription {
    position: absolute;
    width: calc(100% - 10vh);
    left: 5vh;
    top: 55vh;
    font-size: 2.75vh;
    font-weight: 300;
    font-family: "Source Serif 4";
    padding-bottom: 12.5vh;
}

#BackButton {
    position: absolute;
    left: 5vh;
    height: 10vh;
    left: 33%;
    background-color: 0 0 30vh 5vh rgba(255, 240, 227, 1) inset, 0 0 2vh 0.5vh rgba(255, 240, 227, 1);
}

